@font-face {
  font-family: "Vazir-FD";
  src: url("../fonts/Vazir-Regular-FD.eot");
  src: url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Vazir-FD";
}

body {
  direction: rtl;
  text-align: right;
}

/* Fixed Table Size */
div.cell.cell-1-1.dash-fixed-content {
  margin-left: 0 !important;
}
