{% extends 'base.html' %} {% block content %} {% include "form_errors.html" %}

<div id="my-login-page" class="animate__animated animate__flipInX">
  <div class="my-form">
    <form class="register-form" action="" method="POST">
      {{ form.csrf_token }}
      <input
        type="text"
        placeholder="نام"
        name="firstname"
        id="firstname"
        value="{{ current_user.firstname }}"
      />
      <input
        type="text"
        placeholder="نام خانوادگی"
        name="lastname"
        id="lastname"
        value="{{ current_user.lastname }}"
      />
      <input
        type="text"
        placeholder="نام کاربری"
        name="username"
        id="username"
        value="{{ current_user.username }}"
      />
      <input
        type="text"
        placeholder="پست الکترونیک"
        name="email"
        id="email"
        value="{{ current_user.email }}"
      />
      <input
        type="password"
        placeholder="رمز عبور"
        name="password"
        id="password"
        value="{{ current_user.password }}"
      />
      <input type="submit" value="به روز رسانی" class="button login_btn_animate animate__animated animate__bounceInDown" />
    </form>
  </div>
</div>

{% endblock content %}
